[MASTER]
ignore-patterns=test_.*?py
disable=
    missing-function-docstring,
    import-error,
    too-few-public-methods,
    no-member,u
    unused-argment,
    broad-exception-caught,
    import-outside-toplevel,
    too-many-positional-arguments

[FORMAT]
max-line-length=120

[DESIGN]
max-args=8
