[MASTER]
ignore-patterns=test_.*?py
disable=
    missing-function-docstring,
    missing-class-docstring,
    invalid-name,
    import-error,
    too-few-public-methods,
    no-member,
    unused-argument,
    broad-exception-caught,
    import-outside-toplevel,
    too-many-positional-arguments

[FORMAT]
max-line-length=120

[DESIGN]
max-args=8
